body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:#060622;
    background-image: url("../Images/Rectangle 428 (1).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .queries{
    color: #D8D8D8;
    font-family: 'Satoshi';
    font-style: normal;
    
  }
  
  .queriesHeadLine{
    margin-top: 5vh;
    margin-left: 12vw;
    font-weight: 500;
    font-size: 6vh;
    /* line-height: 10.6vh; */
  }
  .queriesSubLine{
    margin-left: 12vw;
    font-weight: 500;
    font-size: 3vh;
    /* line-height: 4.6vh; */
  }
  
  .queriesForm{
    margin: auto;
    margin-top: 5vh;
    display: flex;
    background: #05296B;
    border-radius: 30px;
    height: 65vh;
    width: 75vw;
    background: radial-gradient(84.14% 86.03% at 14.85% 10.4%, rgba(18, 18, 131, 0.3) 1.34%, rgba(6, 6, 34, 0.3) 1.35%, rgba(6, 6, 34, 0.3) 100%);
    background: rgba(0, 180, 216, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  
  .formLeft{
    margin-top: 7vh;
    width: 50%;
    height: 100%;
  }
  .formRight{
    align-items: center;
    margin: auto;
    
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }
  .form-control{
    margin: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 16px;
    width: 33vw;
    height: 9vh;
    background: #31829D;
    color: #FFFFFF;
    border-radius: 5px; 
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    line-height: 4vh;
    }
    .form-control::focus{
      outline: none;
    }
    .form-control::placeholder{
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 500;
      font-size: 3vh;
      line-height: 4vh;
      color: #FFFFFF;
      opacity: 0.8;
    }
    .queryTextArea{
      resize: none;
      width: 33vw;
      height: 31vh;
    }
  
    .textAreaContainer { 
      position: relative; 
    } 
    .textAreaContainer textarea { 
      box-sizing: border-box; 
    } 
    .textAreaContainer button { 
      position: absolute; 
      bottom: 15px; 
      right: 15px; 
      
    }
    @media (max-width: 768px) {
      .queriesForm{
        width: 90vw;
        height: 100%;
        display: block;
        margin: auto;
        padding: auto;
        justify-self: center;
      }
      .formLeft{
        /* display: none; */
        width: 100%;
        justify-content: center;
     }
     .formRight{
        width: 100%;
        justify-content: center;
        padding: auto;
     }
     .form-control{
        width: 90%;
        justify-self: center
     }
    }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
  @import url("https://api.fontshare.com/css?f[]=satoshi@400&display=swap");