.card {
  border-radius: 1rem;
  text-align: left;
  line-height: 1.6667;
}

.card--big {
  font-size: clamp(16px, calc(14px + 0.4vw), 18px);
  padding: clamp(32px, calc(3.2vw + 16px), 48px)
    clamp(32px, calc(12.8vw - 32px), 96px);
}

.card--mission {
  grid-gap: clamp(32px, calc(2.66667vw + 16px), 48px);
  gap: clamp(32px, calc(2.66667vw + 16px), 48px);
  border: 0.3333rem solid #272f44;
  display: grid;
  grid-template: auto/auto auto;
  margin-top: 2rem;
  padding-left: clamp(32px, calc(2.66667vw + 16px), 48px);
  place-content: center;
  place-items: center;
}
